#admin-list
{
  position: absolute;
  top: 0;
  left: 0;
  width: 260px;
  bottom: 0;
}

#admin-list-options
{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  overflow: auto;
}

#admin-list h2 img
{
  position: absolute;
  top: 7px;
  right: 8px;
}

#admin-details
{
  position: absolute;
  top: 0;
  left: 270px;
  right: 0;
  bottom: 0;
}

table.admin-table,
{
  width: 100%;
}

table.admin-table tbody td
{
  cursor: default;
}
